@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:
    local('Roboto Light'),
    local('Roboto-Light'),
    url('./roboto/v18-300.woff2') format('woff2'),
    url('./roboto/v18-300.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url('./roboto/v18-400.woff2') format('woff2'),
    url('./roboto/v18-400.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
    local('Roboto Medium'),
    local('Roboto-Medium'),
    url('./roboto/v18-500.woff2') format('woff2'),
    url('./roboto/v18-500.woff') format('woff');
}
